.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ruff_cache/
.mypy_cache/

**/node_modules
**/dist

out/
templates_generated/
briefings/
.git/
.gitignore
.env
.env.local

.idea/
.vscode/
.DS_Store

*.md
!README.md
